<div class="card">
    <div class="card-body">
        <div class="comments">
            {{#each this}}
            <section class="comment">
                <div class="meta">
                    {{user.username}} on {{created_at}}
                </div>
                <div class="text">
                    
                    <br/>
                    {{comment_text}}
                    <br/>
                    ---
                </div>
            </section>
            {{/each}}
        </div>        
    </div>
</div>