<article class="post" class="columns 4" style="margin: 5%; border-style: solid; width: 75%;">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
    </div>    
    <div>
        <p>{{topic}}</p>
    </div>

        
        {{!-- <form class="comment-form">
            <div>
                <textarea name="comment-body" style="width: 500px;">Your Comment</textarea>
            </div>

            <div>
                <button type="submit" class="button">Add a Comment</button>
            </div>
        </form>
        
     --}}
</article>