<article class="post row medium-8 large-7 columns">
    <div class="blog-post">
        <h3 class="posttitle"><a href="/post/{{id}}">{{title}}</a></h3>
       
        <div class="subheader">
        <p>{{topic}}</p> 
           
    </div>
       
       
    </div>
</div>

    {{!-- <div>{{discusses[0]}}</div>         --}}

</article>
