<article class="post" class="columns 4" style="margin: 5%; border-style: solid; width: 75%;">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>    
    <div>
        <p>{{topic}}</p>
    </div>

    {{!-- <div>{{discusses[0]}}</div>         --}}

</article>