<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">create new drink post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert drink title here"/>
    </div>
    <div>
      <label for="post-topic">Topic:</label>
      <input class="textarea is-large" id="post-topic" name="post-topic" placeholder="insert drink topic here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>