<br>
<div class="row">
  <!--if logged in-->
  {{!-- {{#if loggedIn}} --}}
    <div class="medium-7 large-6 columns">
        <h1 class="impact">Catch up on your Recipes. </h1>
        <p class="subheader">The Speakeasy is a place to share, save, and drink what you love. With tasting rooms for
            everyone, you're sure to find your perfect glass. Let's get started! </p>
        <button class="button secondary createAccount expanded"><a href= "/recipe-blog">Recipe Posts</a></button>
    </div>
  <!--if new user-->
  {{!-- {{#else}} --}}
    <div class="medium-7 large-6 columns">
        <h1 class="impact">Welcome to our club. </h1>
        <p class="subheader">The Speakeasy is a place to share, save, and drink what you love. With tasting rooms for
            everyone, you're sure to find your perfect glass. Let's get started! </p>
        <button class="button secondary createAccount expanded"><a href= "/login">Create Account</a></button>
    </div>
 <!----->
 {{!-- {{/if}} --}}
    <div class="medium-5 large-3 columns">
        <div class="callout secondary">
            <form>
                <div class="row">
                    <div class="small-12 columns">
                        <label class="impact">Find Your Mix
                            <input type="text" id="drinkName" placeholder="Search Cocktails by Name">
                        </label>
                    </div>
                    <div class="small-12 columns">
                        <label class="impact">Seach by Alcohol
                            <input type="text" id="drinkIngr" placeholder="Vodka, Whiskey, etc...">
                        </label>
                        {{!-- <button class="button">Blue Margarita</button> --}}
                        <button type="button" id="drinkSearchBtn" class="button searchNow secondary">Search Now!</button>
                        
                    </div>
                    <h5 id="drinkNameDivTitle" hidden="true" style="padding: 5%;">Click a drink to learn more!</h5>
                    <div id="drinkNameDiv" hidden="true">

                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>

<div class="row columns">
  <h3 class="impact">Have You Tried...</p>
</div>

<div class="row">
  <div class="columns large-6 small-12 float-left">
    <div class="card">
      <img id="randoDrinkImg" src="" >
      <h4 id="randoDrinkTitle"></h4>
      <p id="randoDrinkInstr" class="subheader"></p>
    </div>
  </div>
    <div class="columns large-6 small-12 float-right">
    <div class="card ingredients">
        <h4>The Mixture:</h4>
        <div class="ingredients card">
            <ul style="list-style-type:disc;" id="ingredientList" class="ingredient-list">
            </ul>
        </div>
    </div>
    </div>
  </div>
  <br>
<div id="popularDrinkCardContainer" class="row column">
  <h3 class="impact">Popular Drinks</h3>
  {{!-- Popular drinks Dynamically loaded here --}}
</div>
<script src="/javascript/search-button.js"></script>
<script src="/javascript/popular-drinks.js"></script>
<script src="/javascript/have-you-tried.js"></script>