<br>
<div class="row">
  <!--if logged in-->
    <div class="medium-7 large-6 columns">
        <h1 class="impact">Catch up on your Recipes. </h1>
        <p class="subheader">The Speakeasy is a place to share, save, and drink what you love. With tasting rooms for
            everyone, you're sure to find your perfect glass. Let's get started! </p>
        <button class="button secondary createAccount expanded"><a href= "/recipe-blog">Recipe Posts</a></button>
    </div>
  <!--if new user-->
    <div class="medium-7 large-6 columns">
        <h1 class="impact">Welcome to our club. </h1>
        <p class="subheader">The Speakeasy is a place to share, save, and drink what you love. With tasting rooms for
            everyone, you're sure to find your perfect glass. Let's get started! </p>
        <button class="button secondary createAccount expanded"><a href= "/login">Create Account</a></button>
    </div>
 <!----->
    <div class="show-for-large large-3 columns">
        <img src="https://placehold.it/400x370&text=PSR1257 + 12 C">
    </div>
    <div class="medium-5 large-3 columns">
        <div class="callout secondary">
            <form>
                <div class="row">
                    <div class="small-12 columns">
                        <label class="impact">Find Your Mix
                            <input type="text" placeholder="Search Cocktails by Name">
                        </label>
                    </div>
                    <div class="small-12 columns">
                        <label class="impact">Seach by Alcohol
                            <input type="text" placeholder="Vodka, Whiskey, etc...">
                        </label>
                        <button type="submit" class="button searchNow secondary">Search Now!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row columns">
  <h3 class="impact">Recipe of the Week</p>
</div>

<div class="row">
  <div class="columns large-6 small-12 float-left">
    <div class="card">
      <p><img src="https://placehold.it/700x370&text=Pegasi B" ></p>
      <h4>Spiciest Bloody Mary EVER</h4>
      <p class="subheader">This bloody mary will set your nose on fire</p>
    </div>
  </div>
    <div class="columns large-6 small-12 float-right">
    <div class="card ingredients">
        <h4>The Mixture:</h4>
        <div class="ingredients card">
           
            <ul class="ingredient-list">
              <li>ingredient 1</li>
              <li>ingredient 2</li>
              <li>ingredient 3</li>
              <li>ingredient 4</li>
              <li>ingredient 5</li>
        </div>
    </div>
    </div>
  </div>
  <br>
<div class="row column">
  <h3 class="impact">Popular Drinks</h3>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked)</h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked)</h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked)</h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked)</h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked)</h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="callout secondary">
      <h5>Drink Name (linked) </h5>
      <p><img src="https://placehold.it/200x170&text=Pegasi B"></p>
    </div>
  </div>
