<div class="loginWrapper">
    <div class="formBoxes">
        <div class="row large-6  small-10 columns">
            <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button class="button secondary expanded" type="submit">login</button>
                </div>
            </form>
        </div>
        <h4 class="signupH3"> Don't have an account?<br> Make one Here!</h4>
        <div class="row signupFormBox large-6 small-10 columns">
            <form class="signup-form">
                <div>
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="email-signup">email:</label>
                    <input type="text" id="email-signup" />
                </div>
                <div>
                    <label  for="password-signup">password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button class="button secondary expanded" type="submit">signup</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script src="/javascript/login.js"></script>