<div class="dashboard-wrapper">
    <div class="column row large-5 medium-8 small-12 float-left">
        <h3>Tell Us About Yourself:</h3>
        <form class="about">
            <div>
                <label for="user-birthday">Shawty, What's Your Birthday?</label>
                <input type="date" id="user-birthday" name="user-birthday" />
            </div>
            <div>
                <label for="favorite-drink">Favorite Drink</label>
                <input type="text" id="favorite-drink" name="favorite-drink" />
            </div>
            <div>
                <label for="other-drinks">Other Drinks You Enjoy</label>
                <textarea id="other-drinks" name="other-drinks"></textarea>
            </div>
            <div>
                <label for="about-you">Tell Us About Yourself:</label>
                <textarea id="about-you" name="about-you"></textarea>
            </div>
            <button type="submit" class="button secondary expanded">Update</button>
        </form>
    </div>

    <div class="right-dash-column show-for-large float-right">

        <button class="button secondary expanded"><a href="#">Recipes i've Shared</a></button>
        <button class="button secondary expanded"><a href="#">My saved Recipes</a></button>
        <button class="button secondary expanded"><a href="#">Share another Recipe</a></button>
    </div>
</div>

<script src="/javascript/about-you.js"></script>