<div class="dashboard-wrapper">
    <div class="column row large-5 medium-8 small-12 float-left">
        <h3>Share Your Recipe:</h3>
        <form class="recipe-form">
            <div>
                <label for="recipe-name">Name: (Required)</label>
                <input type="text" id="recipe-name" name="recipe-name" />
            </div>
            <div>
                <label for="recipe-url">Url (Not Required)</label>
                <input type="text" id="recipe-url" name="recipe-url"/>
            </div>
            <div>
                <label for="recipe-instructions">Instructions: (Required)</label>
                <textarea id="recipe-instructions" name="recipe-instructions"></textarea>
            </div>
            <div>
                <label for="ingredient1">Ingredients: Required)</label>
                <input type="text" id="ingredient1" name="ingredient1"/>
            </div>
            <div>
                <label for="ingredient2">Ingredients: Required)</label>
                <input type="text" id="ingredient2" name="ingredient2"/>
            </div>
            <div>
                <label for="ingredient3">Ingredients: (Not Required)</label>
                <input type="text" id="ingredient3" name="ingredient3"/>
            </div>
            <div>
                <label for="ingredient4">Ingredients: (Not Required)</label>
                <input type="text" id="ingredient4" name="ingredient4"/>
            </div>
            <button type="submit" class="button secondary expanded">Share Your Recipe</button>
        </form>
    </div>



    <div class="right-dash-column show-for-large float-right">

        <button class="button secondary expanded"><a href="#">Recipes I've Shared</a></button>
        <button class="button secondary expanded"><a href="#">My saved Recipes</a></button>
        <button class="button secondary expanded"><a href="#">Share another Recipe</a></button>
    </div>
</div>

<script src="/javascript/add-recipe.js"></script>