{{> post-info post}}

<ul>
    {{#each post.discusses as |comment|}}
    <li>
        {{comment.opinion}}
    </li>
    {{/each}}
</ul>

{{!-- {{#if loggedIn}} --}}
<div class="card">
    <div class="card-body">
        <form class="comment-form">
            <div>
                <textarea name="comment-body" style="width: 50%; height: 100px"></textarea>
            </div>
        </form> 
            <div>
                <button id="addCommentBtn" class="button">Leave a Comment!</button>
            </div>
               
    </div>
</div>
{{!-- 
{{/if}} --}}




{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}