<a href="/recipe-blog"><button class="button backBtn secondary">Go back</button></a>

{{> post-info post}}

<ul>
    {{#each post.discusses as |comment|}}
    <li>
        {{comment.opinion}}
    </li>
    {{/each}}
</ul>

{{!-- {{#if loggedIn}} --}}
<div class="card row medium-8 large-7 column">
    <div class="card-body">
        
        <form class="comment-form">
            <div class="">
                <textarea name="comment-body"  class="large-5 medium-5 small-12"></textarea>
            </div>
        </form> 
            <div>
                <button id="addCommentBtn" class="button">Leave a Comment!</button>
            </div>
               
    </div>
</div>

{{!-- 
{{/if}} --}}




{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}