{{> post-info post}}

{{!-- {{#if loggedIn}} --}}
<div class="card">
    <div class="card-body">
        <form class="comment-form">
            <div>
                <textarea name="comment-body" style="width: 50%; height: 100px"></textarea>
            </div>
        </form> 
            <div>
                <button id="addCommentBtn" class="button">Leave a Comment!</button>
            </div>
               
    </div>
</div>
{{!-- 
{{/if}} --}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}