<a href="/recipe-blog"><button class="button backBtn secondary">Go back</button></a>

{{> post-info post}}

{{!-- {{#if loggedIn}} --}}
<div class="card row medium-8 large-7 column">
    <div class="card-body">
        
        <form class="comment-form">
            <div class="">
                <textarea name="comment-body"  class="large-5 medium-5 small-12"></textarea>
            </div>
            <div>
                <button type="submit" class="button">Submit Comment</button>
            </div>
        </form>        
    </div>
</div>

{{!-- 
{{/if}} --}}
 
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}