<div class="userNamePosts">
    <h2>User's Posts</h2>
</div>
<div class="row medium-8 large-7 columns">
    <div class="blog-post">
        <h3>Shirley Temple <small>(Vodka)</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <ul class="ingredient-list">
            <li>.285 cup lemon-lime flavored carbonated beverage</li>
            <li>1 ½ tablespoons grenadine syrup</li>
            <li> maraschino cherry</li>
            <h6 class="subheader">In a highball glass, over ice, combine lemon-lime soda and grenadine. Stir well and
                garnish with a maraschino cherry.</h6>
        </ul>
        <div class="callout large-5 small-12 float-left">
            <ul class="menu simple">
                <li><a>Author:</a></li>
                <li><a>Rating:</a></li>
            </ul>
        </div>
        <div class="callout large-7 small-12 float-left">
            <ul class="menu simple ">
                <li><a>My Review:</a></li>
            </ul>
        </div>
    </div>
</div>
