<div class="dashboard-wrapper">
    <div class="column row large-5 medium-8 small-12 float-left">
        <h3>Viewing the profile for {{username}} at the Speakeasy</h3>
        <article class="about">
            <div>
                Birthday
            </div>
            <div>
                Favorite Drink
            </div>
            <div>
                Other Drinks They Enjoy
            </div>
            <div>
                About Them
            </div>

        </article>
    </div>

    <div class="right-dash-column show-for-large float-right">

        <button class="button secondary expanded"><a href="#">Recipes They've Shared</a></button>
        <button class="button secondary expanded"><a href="#">Return to the Speakeasy</a></button>
    </div>
</div>

<script src="/javascript/profile.js"></script>